.page-header {
    border-bottom: 1px solid #FFFFFF;
    margin: 20px 0 10px 0;
    padding-bottom: 9px;
    text-align: center;
}

.standard-row .page-header {
    text-align: left;
}

.form-control {
    border: 1px solid #D6D6D6;
    border-radius: 0;
    box-shadow: none;
    height: 50px;
    padding: 6px 15px;
}

body {
    background-color: #FFFFFF;
}

#login {
    background: #ededed;
    padding: 20px 50px 20px 50px;
    margin: 100px;
}

legend {
    border: medium none;
    color: #7F7F7F;
    display: block;
    font-size: 20px;
    line-height: inherit;
    margin-bottom: 15px;
    padding: 0;
    text-align: center;
    width: 100%;
}

.btn {
    padding: 10px;
    border-radius: 0;
    border: none;
    font-size: 21px;
}

h3 {
    text-align: center;
}

h2
{
    color: black;
    text-align: center;
}

.control-label {
    color: black;
}

.jumbotron {
    margin-top: 50px;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #008cba;
  border-color: #008cba;
}
.list-group-item.active .list-group-item-heading,
.list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:focus .list-group-item-heading {
  color: inherit;
}
.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
  color: #87e1ff;

